@model IEnumerable<MVC.Areas.AdminPanel.Models.VMs.OfferCart.GetAllOfferCartsVM>

@{
    ViewData["Title"] = "GetAllOfferCarts";
}

<div class="pagetitle">
    <h1>Offer Cart Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item active">Offer Carts</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Offer Cart ID
            </th>
            <th>
                Customer ID
            </th>
            <th>
                Product ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                Total Price
            </th>
            <th>
                Completed Date
            </th>
            <th>
                Added Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferCartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Details" asp-controller="OfferCart" asp-area="AdminPanel" asp-route-offerCartId="@item.OfferCartId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
