@model IEnumerable<MVC.Areas.AdminPanel.Models.VMs.Report.GetMoldProductionReportVM>

@{
    ViewData["Title"] = "GetMoldProductionReport";
}

<h1>Get Mold Production Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                OfferCart ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                Mold Production Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferCartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoldProductionStatus)
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Details" asp-controller="OfferCart" asp-area="AdminPanel" asp-route-offerCartId="@item.OfferCartId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
