@model IEnumerable<MVC.Areas.AdminPanel.Models.VMs.Report.GetProductOfferStatusReportVM>

@{
    ViewData["Title"] = "GetProductOfferStatusReport";
}

<h1>Get Product Offer Status Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Customer
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferStatus)
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Details" asp-controller="Product" asp-area="AdminPanel" asp-route-offerCartId="@item.ProductId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
