@model IEnumerable<MVC.Areas.AdminPanel.Models.VMs.Report.GetPaymentReportVM>

@{
    ViewData["Title"] = "GetPaymentReport";
}

<h1>Get Payment Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Offer Cart ID
            </th>
            <th>
                Total Price
            </th>
            <th>
                Payment Status
            </th>
            <th>
                Completed Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferCartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedDate)
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Details" asp-controller="OfferCart" asp-area="AdminPanel" asp-route-offerCartId="@item.OfferCartId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
