@model IEnumerable<MVC.Areas.AdminPanel.Models.VMs.Report.GetUserActivityReportVM>

@{
    ViewData["Title"] = "GetUserActivityReport";
}

<h1>Get User Activity Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Offer Cart ID
            </th>
            <th>
                Customer ID
            </th>
            <th>
                Product ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                Total Price
            </th>
            <th>
                Completed Date
            </th>
            <th>
                Added Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferCartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Details" asp-controller="OfferCart" asp-area="AdminPanel" asp-route-offerCartId="@item.OfferCartId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
