@model MVC.Areas.CustomerServicePanel.Models.DTOs.OfferCart.UpdateOfferCartDTO

@{
    ViewData["Title"] = "UpdateOfferCart";
}

<h1>UpdateOfferCart</h1>

<h4>UpdateOfferCartDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateOfferCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfferCartId" class="control-label"></label>
                <input asp-for="OfferCartId" class="form-control" />
                <span asp-validation-for="OfferCartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <input asp-for="AppUserId" class="form-control" />
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRefundRequest" /> @Html.DisplayNameFor(model => model.IsRefundRequest)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RefundCustomerService" /> @Html.DisplayNameFor(model => model.RefundCustomerService)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptRefundRequest" /> @Html.DisplayNameFor(model => model.AcceptRefundRequest)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CompletedDate" class="control-label"></label>
                <input asp-for="CompletedDate" class="form-control" />
                <span asp-validation-for="CompletedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptAdmin" /> @Html.DisplayNameFor(model => model.AcceptAdmin)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptContentManager" /> @Html.DisplayNameFor(model => model.AcceptContentManager)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptCustomerService" /> @Html.DisplayNameFor(model => model.AcceptCustomerService)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptVisitor" /> @Html.DisplayNameFor(model => model.AcceptVisitor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSample" /> @Html.DisplayNameFor(model => model.IsSample)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMold" /> @Html.DisplayNameFor(model => model.IsMold)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFinalization" /> @Html.DisplayNameFor(model => model.IsFinalization)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AddedDate" class="control-label"></label>
                <input asp-for="AddedDate" class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteDate" class="control-label"></label>
                <input asp-for="DeleteDate" class="form-control" />
                <span asp-validation-for="DeleteDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

