@model IEnumerable<MVC.Areas.AdminPanel.Models.VMs.Product.ListProduct>

@{
	ViewData["Title"] = "GetAllProducts";
}

<h1>GetAllProducts</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ProductId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Likes)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ImageUrl)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ProductId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Likes)
				</td>
				<td>
					@if (item.ImageUrl is null)
					{
						<img src="" alt="Product Image" style="max-width:100px; max-height:100px;" />
					}
					else
					{
						<img src="~/images/@item.ImageUrl" alt="Product Image" style="max-width:100px; max-height:100px;" />
					}

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
				<td>
					<a class="btn btn-warning" asp-action="Update" asp-controller="Product" asp-area="AdminPanel" asp-route-ProductId="@item.ProductId">Güncelle</a>
					<a class="btn btn-success" asp-action="Details" asp-controller="Product" asp-area="AdminPanel" asp-route-ProductId="@item.ProductId">Detay Görüntüle</a>
					@if (item.ImageUrl is null)
					{
						<a class="btn btn-success" asp-action="UpdateProductImage" asp-controller="Product" asp-area="AdminPanel" asp-route-productId="@item.ProductId">Ürüne Resim ekle </a>
					}

					@if (item.IsActive)
					{
						<a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-area="AdminPanel" asp-route-ProductId="@item.ProductId">Pasif Et</a>

					}
				</td>
			</tr>
		}
	</tbody>
</table>
